.single-item-wrapper{
    padding: 20px 0;
}
.single-item-title{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.separator-div{
    height: 2px;
    background-color: #ddd;
    width: 90%;
    margin: 0 auto;
}
.large-device-carousel{
    display: block;
}
.mobile-device-carousel{
    display: none;
}